.btn-add {
  display: flex;
  float: right;
  margin: 12px;
  color: #e6e6e6;
  cursor: pointer;
}

.btn-add .img {
  margin-right: 5px;
}

.view-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 75%;
  padding-left: 0;
  margin-bottom: 0;
  overflow-y: auto;
}

.item {
  position: relative;
  width: 100%;
  height: 200px;
  min-height: 1px;
  margin-right: 15px;
  margin-left: 15px;
  max-width: 45%;
  flex: 0 0 45%;
}

@media (min-width: 320px) and (max-width: 480px) {

  .item
  {
    max-width: 83%;
    flex: 0 0 83%;
  }
}

@media (min-width: 700px) {

  .item
  {
    max-width: 42%;
    flex: 0 0 42%;
  }
}

.thumbnail
{
  margin-bottom: 30px;
  padding: 12px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.card {
  position: relative;
  min-width: 0;
  word-wrap: break-word;
  background-color: hsl(0, 0%, 100%);
  background-clip: border-box;
  border: 1px solid hsla(0, 0%, 0%, 0.125);
  border-radius: .25rem;
}

.input-group {
  display: flex;
  margin-bottom:10px;
  padding-right: 4px;
}

.operator {
  width: 100%;
  margin: 0;
  padding: 2px;
}

.operator-item {
  float: right;
  box-sizing: border-box;
  cursor: pointer;
  margin-right: 5px;
  margin-left: 5px;
}