.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 30px auto 30px;
  max-width: 378px;
  padding: 12px 12px 12px 12px;
  text-align: center;
}

@media (min-width: 320px) and (max-width: 480px) {
  .main-div {
    margin: 30px 12px 30px 12px;
  }
}

.login-form {
  text-align:center;
}

.panel {
  margin-top: 24px;
}
.panel p { color:#777777; font-size:14px; margin-bottom:30px; line-height:24px;}

.forgot {
  text-align: left; margin-bottom:30px;
}
.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
  display: flex;
}

.panel-heading div{
  width: 50%;
}

.panel-heading a{
  text-decoration: none;
  color: #666;
  font-weight: bold;
  font-size: 15px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-heading a.active{
  color: #029f5b;
  font-size: 18px;
}
.login-form hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}