.content {
  display: contents;
}
.btn-group {
  display: inline-flex;
  width: 20%;
  margin: 12px;
}

.btn-display {
  display: inline-block;
  height: 40px;
  font-weight: 400;
  cursor: pointer;
  position: relative;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  margin-right: 5px;
}

.btn-group img {
  padding-right: 5px;
  cursor: pointer;
}

.btn-search input {
  height: 24px;
  margin-right: 5px;
  width: 90%;
}

.btn-info {
  color: hsl(0, 0%, 100%);
  background-color: rgb(55,178,221);
  border-color: rgb(55,178,221);
}

.btn-danger {
  color: hsl(0, 0%, 100%);
  background-color: hsl(354, 70%, 54%);
  border-color: hsl(354, 70%, 54%);
}

.btn-cart {
  color: hsl(0, 0%, 100%);
  background-color: hsl(348, 38%, 65%);
  border-color: hsl(348, 38%, 65%);
}

.view-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 90%;
  padding-left: 0;
  margin-bottom: 0;
  overflow-y: auto;
}

.item {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.thumbnail
{
  margin-bottom: 30px;
  padding: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}

.card {
  position: relative;
  width: 100%;
  word-wrap: break-word;
  background-color: hsl(0, 0%, 100%);
  background-clip: border-box;
  border: 1px solid hsla(0, 0%, 0%, 0.125);
  border-radius: .25rem;
}

.item.list-group-item
{
  float: none;
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  max-width: 100%;
  padding: 0 1rem;
  border: 0;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.item.list-group-item .img-event {
  width: 10%;
  padding: 2px;
  text-align: center;
}

.list-group-image
{
  margin-right: 10px;
}
.item.list-group-item .thumbnail
{
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
}

.item.list-group-item .caption
{
  float: left;
  width: 70%;
  margin: 0;
  padding: 2px;
  flex: 1 1 auto;
}

.item.list-group-item:before, .item.list-group-item:after
{
  display: table;
  content: " ";
}

.item.list-group-item:after
{
  clear: both;
}

.img-fluid {
  width: 100%;
  height: auto;
  vertical-align: middle;
  border-style: none;
  cursor: pointer;
}

@media (min-width: 320px) and (max-width: 480px) {

  .item.list-group-item .caption
  {
    padding: 0;
  }
  .item.list-group-item .row {
    bottom: 2px;
  }
  .describe {
    display: none;
  }
  .btn-display {
    font-size: 11px;
  }
}

@media (min-width: 320px) and (max-width: 359px) {

  .item.list-group-item .img-event {
    width: 40%;
  }
}

@media (min-width: 360px) and (max-width: 400px) {

  .item.list-group-item .img-event {
    width: 30%;
  }
}

@media (min-width: 400px) and (max-width: 1024px) {

  .item.list-group-item .img-event {
    width: 27%;
  }
}

.title {
  width: 100%;
  display: flex;
  border-bottom: 2px;
  border-bottom-color: #e6e6e6;

}

.money {
  position: absolute;
  right: 5px;
}

